In [1]:
# Imports
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("tour_package.csv")

In [3]:
df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [4]:
df["ChosenProductPackage"] = np.random.choice(df['ProductPitched'].unique(), size=len(df))

In [5]:
df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,...,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome,ChosenProductPackage
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,...,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0,Super Deluxe
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,...,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0,Standard
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,...,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0,Deluxe
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,...,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0,Super Deluxe
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,...,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0,Super Deluxe

In [7]:
df2 = df[["CustomerID", "Age", "Occupation", "Gender", "NumberOfPersonVisiting", "DurationOfPitch", "ProductPitched"]]

In [8]:
df2.columns = ["CUSTOMER_ID", "AGE", "OCCUPATION", "GENDER", "FAMILY_SIZE", "DURATION_OF_STAY", "PACKAGE_CHOSEN"]

In [19]:
df2.GENDER.value_counts()

0    2916
1    1972
Name: GENDER, dtype: int64

In [20]:
df2.OCCUPATION.value_counts()

Salaried          2368
Small Business    2084
Large Business     434
Free Lancer          2
Name: OCCUPATION, dtype: int64

In [9]:
df2["AGE"] = df2["AGE"].fillna(df2["AGE"].mean())

<ipython-input-9-a2bee865120b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["AGE"] = df2["AGE"].fillna(df2["AGE"].mean())

In [31]:
df2["OCCUPATION"] = df2["OCCUPATION"].astype('int64')

<ipython-input-31-f1cf2b518d82>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["OCCUPATION"] = df2["OCCUPATION"].astype('int64')

In [39]:
df2["DURATION_OF_STAY"] = df2["DURATION_OF_STAY"].fillna(df2["DURATION_OF_STAY"].mean())

<ipython-input-39-0ab9d8336531>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["DURATION_OF_STAY"] = df2["DURATION_OF_STAY"].fillna(df2["DURATION_OF_STAY"].mean())

In [71]:
(X_train, X_test, y_train, y_test) = train_test_split(df3.drop(["PACKAGE_CHOSEN"], axis=1), df3['PACKAGE_CHOSEN'], test_size = .2)

In [72]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3910 entries, 1745 to 1878
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   AGE               3910 non-null   float64
 1   OCCUPATION        3910 non-null   float64
 2   GENDER            3910 non-null   float64
 3   FAMILY_SIZE       3910 non-null   float64
 4   DURATION_OF_STAY  3910 non-null   float64
 5   CUSTOMER_ID       3910 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 213.8 KB

In [73]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 978 entries, 1588 to 2026
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   AGE               978 non-null    float64
 1   OCCUPATION        978 non-null    float64
 2   GENDER            978 non-null    float64
 3   FAMILY_SIZE       978 non-null    float64
 4   DURATION_OF_STAY  978 non-null    float64
 5   CUSTOMER_ID       978 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 53.5 KB

In [74]:
X_train.to_csv("GROUP20_DATASET/FINAL_SCALED_GROUP20_TOUR_PACKAGES_TRAIN_X.csv", index=False)
X_test.to_csv("GROUP20_DATASET/FINAL_SCALED_GROUP20_TOUR_PACKAGES_TEST_X.csv", index=False)
y_train.to_csv("GROUP20_DATASET/FINAL_SCALED_GROUP20_TOUR_PACKAGES_TRAIN_Y.csv", index=False)
y_test.to_csv("GROUP20_DATASET/FINAL_SCALED_GROUP20_TOUR_PACKAGES_TEST_y.csv", index=False)

In [75]:
df3.to_csv("GROUP20_DATASET/FINAL_SCALED_GROUP20_TOUR_PACKAGES_OVERALL.csv", index=False)

In [17]:
df2["GENDER"] = np.where(df2["GENDER"] == "Male", 0, 1)

<ipython-input-17-ce631110a131>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["GENDER"] = np.where(df2["GENDER"] == "Male", 0, 1)

In [21]:
df2["OCCUPATION"] = np.where(df2["OCCUPATION"] == "Free Lancer", 0 , df2["OCCUPATION"])
df2["OCCUPATION"] = np.where(df2["OCCUPATION"] == "Salaried", 1 , df2["OCCUPATION"])
df2["OCCUPATION"] = np.where(df2["OCCUPATION"] == "Small Business", 2 , df2["OCCUPATION"])
df2["OCCUPATION"] = np.where(df2["OCCUPATION"] == "Large Business", 3 , df2["OCCUPATION"])

<ipython-input-21-9466ae8ec58e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["OCCUPATION"] = np.where(df2["OCCUPATION"] == "Free Lancer", 0 , df2["OCCUPATION"])
<ipython-input-21-9466ae8ec58e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["OCCUPATION"] = np.where(df2["OCCUPATION"] == "Salaried", 1 , df2["OCCUPATION"])
<ipython-input-21-9466ae8ec58e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["OCCUPATION"] = np.where(df2["OCCUPATION"] == "Small Business", 2 , df2["OCCUPATION"])
<ipython-input-21-9466ae8ec58e>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["OCCUPATION"] = np.where(df2["OCCUPATION"] == "Large Business", 3 , df2["OCCUPATION"])

In [22]:
df2["OCCUPATION"].value_counts()

1    2368
2    2084
3     434
0       2
Name: OCCUPATION, dtype: int64

In [23]:
df2.head()

,CUSTOMER_ID,AGE,OCCUPATION,GENDER,FAMILY_SIZE,DURATION_OF_STAY,PACKAGE_CHOSEN
0,200000,41.000000,1,1,3,6.0,Deluxe
1,200001,49.000000,1,0,3,14.0,Deluxe
2,200002,37.000000,0,0,3,8.0,Basic
3,200003,33.000000,1,1,2,9.0,Basic
4,200004,37.622265,2,0,2,8.0,Basic

In [24]:
df2.head()

,CUSTOMER_ID,AGE,OCCUPATION,GENDER,FAMILY_SIZE,DURATION_OF_STAY,PACKAGE_CHOSEN
0,200000,41.000000,1,1,3,6.0,Deluxe
1,200001,49.000000,1,0,3,14.0,Deluxe
2,200002,37.000000,0,0,3,8.0,Basic
3,200003,33.000000,1,1,2,9.0,Basic
4,200004,37.622265,2,0,2,8.0,Basic

In [45]:
df2["PACKAGE_CHOSEN"].value_counts()

Basic           1842
Deluxe          1732
Standard         742
Super Deluxe     342
King             230
Name: PACKAGE_CHOSEN, dtype: int64

In [46]:
y_test.value_counts()

Deluxe          363
Basic           359
Standard        146
Super Deluxe     61
King             49
Name: PACKAGE_CHOSEN, dtype: int64

In [38]:
df2.isnull().sum()

CUSTOMER_ID           0
AGE                   0
OCCUPATION            0
GENDER                0
FAMILY_SIZE           0
DURATION_OF_STAY    251
PACKAGE_CHOSEN        0
dtype: int64

In [47]:
df2

,CUSTOMER_ID,AGE,OCCUPATION,GENDER,FAMILY_SIZE,DURATION_OF_STAY,PACKAGE_CHOSEN
0,200000,41.000000,1,1,3,6.0,Deluxe
1,200001,49.000000,1,0,3,14.0,Deluxe
2,200002,37.000000,0,0,3,8.0,Basic
3,200003,33.000000,1,1,2,9.0,Basic
4,200004,37.622265,2,0,2,8.0,Basic
...,...,...,...,...,...,...,...
4883,204883,49.000000,2,0,3,9.0,Deluxe
4884,204884,28.000000,1,0,4,31.0,Basic
4885,204885,52.000000,1,1,4,17.0,Standard
4886,204886,19.000000,2,0,3,16.0,Basic
4887,204887,36.000000,1,0,4,14.0,Basic

In [53]:
df2["PACKAGE_CHOSEN"].value_counts()

Basic           1842
Deluxe          1732
Standard         742
Super Deluxe     342
King             230
Name: PACKAGE_CHOSEN, dtype: int64

In [54]:
df2["PACKAGE_CHOSEN"] = np.where(df2["PACKAGE_CHOSEN"] == "Basic", 0, df2["PACKAGE_CHOSEN"])
df2["PACKAGE_CHOSEN"] = np.where(df2["PACKAGE_CHOSEN"] == "Deluxe", 1, df2["PACKAGE_CHOSEN"])
df2["PACKAGE_CHOSEN"] = np.where(df2["PACKAGE_CHOSEN"] == "Standard", 2, df2["PACKAGE_CHOSEN"])
df2["PACKAGE_CHOSEN"] = np.where(df2["PACKAGE_CHOSEN"] == "Super Deluxe", 3, df2["PACKAGE_CHOSEN"])
df2["PACKAGE_CHOSEN"] = np.where(df2["PACKAGE_CHOSEN"] == "King", 4, df2["PACKAGE_CHOSEN"])

<ipython-input-54-447800b6ca3e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["PACKAGE_CHOSEN"] = np.where(df2["PACKAGE_CHOSEN"] == "Basic", 0, df2["PACKAGE_CHOSEN"])
<ipython-input-54-447800b6ca3e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["PACKAGE_CHOSEN"] = np.where(df2["PACKAGE_CHOSEN"] == "Deluxe", 1, df2["PACKAGE_CHOSEN"])
<ipython-input-54-447800b6ca3e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["PACKAGE_CHOSEN"] = np.where(df2["PACKAGE_CHOSEN"] == "Standard", 2, df2["PACKAGE_CHOSEN"])
<ipython-input-54-447800b6ca3e>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["PACKAGE_CHOSEN"] = np.where(df2["PACKAGE_CHOSEN"] == "Super Deluxe", 3, df2["PACKAGE_CHOSEN"])
<ipython-input-54-447800b6ca3e>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["PACKAGE_CHOSEN"] = np.where(df2["PACKAGE_CHOSEN"] == "King", 4, df2["PACKAGE_CHOSEN"])

In [55]:
from sklearn.preprocessing import StandardScaler

In [56]:
scaler = StandardScaler()

In [64]:
scaler.fit(df2.drop(["CUSTOMER_ID", "PACKAGE_CHOSEN"], axis=1))

StandardScaler()

In [66]:
df3 = pd.DataFrame(scaler.transform(df2.drop(["CUSTOMER_ID", "PACKAGE_CHOSEN"], axis=1)))

In [68]:
df3.columns = ["AGE", "OCCUPATION", "GENDER", "FAMILY_SIZE", "DURATION_OF_STAY"]

In [69]:
df3["CUSTOMER_ID"] = df2["CUSTOMER_ID"]
df3["PACKAGE_CHOSEN"] = df2["PACKAGE_CHOSEN"]

In [70]:
df3.head()

,AGE,OCCUPATION,GENDER,FAMILY_SIZE,DURATION_OF_STAY,CUSTOMER_ID,PACKAGE_CHOSEN
0,3.712822e-01,-0.933833,1.216019,0.130966,-1.143871,200000,1
1,1.250646e+00,-0.933833,-0.822356,0.130966,-0.179681,200001,1
2,-6.839967e-02,-2.481146,-0.822356,0.130966,-0.902823,200002,0
3,-5.080815e-01,-0.933833,1.216019,-1.248694,-0.782299,200003,0
4,-7.810318e-16,0.613481,-0.822356,-1.248694,-0.902823,200004,0